version: '3.8'

services:
  postgres:
    image: postgres:15.1
    restart: always
    environment:
      POSTGRES_DB: familiada
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data
  test-postgres:
    image: postgres:15.1
    restart: always
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    ports:
      - '5433:5432'

volumes:
  postgres: